.selectorlist{
    padding-left: 10px;
}

.selectorilistitem {
    margin-top: 4px;
    margin-bottom: 4px;
}

.defaultcontent{
    background-color: #00ff00;
    padding: 10px 10px 10px 10px;
    min-height: 200px
}