<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href ="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>

    <!-- My stuff -->
    <script src="appMod.js"></script>
    <script src="navCtrl.js"> </script>
    <script src="views/users/usersCtrl.js"></script>
    <script src="views/main/selector/selectorCtrl.js"></script>
    <script src="views/main/mainCtrl.js"></script>
    <script src="views/main/content/contentCtrl.js"></script>

    <link rel="stylesheet" href="css/cssdontlikeme.css">
</head>
<body ng-app="AppMod" ng-controller="navCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="OnNavItemClick(navoptions[0]);">Snippet Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-repeat="navitem in navoptions">
                    <a ng-if="navitem.active" ng-click="OnNavItemClick(navitem);" style="font-weight:bold"> 
                        {{ navitem.title }}
                    </a>
                    <a ng-if="!navitem.active" ng-click="OnNavItemClick(navitem);"> 
                        {{ navitem.title }}
                    </a>
                </li> 
            </ul>
        </div>
    </nav>
    <div class="container">
        <div ng-include="currentpageurl">
        </div>
    </div>
</body>

</html>