<div
    style="background-color:#cacaca; min-height:300px"
    ng-controller="selectorCtrl">
    <div class="row">
        <div class="col-md-12">
            SEARCH ----
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <ul>
                <li ng-repeat="dir in directories">
                    <div ng-click="ondirectoryclick(dir);">
                        <span  ng-click="toggleDirectoryExpand(dir);" style="background-color: #aaaaaa">
                            <span ng-show="dir.isExpanded"> - </span>
                            <span ng-show="!dir.isExpanded"> + </span>
                        </span> 
                            {{ dir.id + ' - ' + dir.dirName }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

