<div class="defaultcontent" ng-controller="contentCtrl"
    style="padding-left:10px; padding-right:10px">

    <div class="row form-group">
        <div class="col-md-3">
            <label>Name</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="displaycontent.name" ng-change="onNameChanged();"></input>
        </div>
    </div>
    <div class="row" style="margin-left:0px; margin-right:0px">
        <input type="button" class="btn btn-success" value="Edit" style="float:right"
            ng-click="editbuttonclick(this)">
        
        <div class="form-group" class="col-md-11">
            <div hljs 
                hljs-source="displaycontent.content"
                hljs-language="html"
                hljs-no-escape></div>
        </div>
    </div>
    {{ testdebug }}
</div>